.fill-height {
  height: calc(100vh - 114px);
}

.one-third {
  height: calc((100vh - 114px) / 2);
}

textarea {
  font-size: 20pt;
  font-family: Arial;
}

label {
  font-size: 20pt;
  font-family: Arial;
}
